
== List of user stories, ordered from general to more specific ==

As a user I would like to play backgammon on a computer with my friend so that I could pass the time.

As a user I would like to play against my friend so that the game would be more exciting.

As a user I would like the game to have a command-line interface so I could play it on a remote terminal.

As a user I would like the game to have the standard backgammon starting layout so I could use my openings.

As a user I would like to game to notify whose turn it is so I would know when its my turn.

As a user I would like to move a stone so I could eventually win the game or atleast enjoy it.

As a user I would like to be notified when I make an illegal move so I could make a subsequent correct move.

As a user I would like to get visual feedback in the form of new board layout after I make a move so I don't have to remember all the previous turns.

As a user I would like the game to adhere to standard backgammon rules so I would know how to play it.

As a user I would like to know when a player has won the game so I know when I can stop trying to make moves.

As a user I would like to know the list of available moves so I can easily strategize and pick my move.

As a user I would like the option for rematch after a game ends so I don't have to restart the application again.

As a user I would like the computer to randomly select the starting player so that the game would be more fair.

== Requirements and Aims ==

Non-functional requirements

  * the application should not take longer than a second to process user input and display the results
  * the application should run on all operation systems that ruby 1.9.3 supports
  * the application must not crash on more than 1% user inputs
  * the application must be packaged as a ruby gem

Functional requirements

  * application
    * on startup the game should ask for both players' names
    * the game must have a command-line interface
    * the game must declare a victor when a game has ended
    * the game must offer an option for rematch after the game has ended
  * game rules
    * the game must randomly roll the dice to determine the starting player
    * the game must support all standard backgammon rules
    * the game must have a backgammon board with two rows of triangles in alternating color and each triangle is numbered 1-24 starting with the lower-right triangle.
    * the game must support representing stones of two colours - red and black
    * the game must start with a standard backgammon layout:
      * 2 red stones on triangle 1
      * 5 red stones on triangle 12
      * 3 red stones on triangle 17
      * 5 red stones on triangle 19
      * 2 black stones on triangle 24
      * 5 black stones on triangle 13
      * 3 black stones on triangle 8
      * 5 black stones on triangle 6
    * the game must roll the dice for the player when it is player's turn.
    * valid moves are determined by the player's dice roll according to backgammon rules.
  * user interface
    * the user must see the following information at the beginning of his/her turn:
      * the current board and stones layout
      * the outcome of the random dice roll
      * the list of valid moves for the player
    * the user must be able to input two positive integers in the form of "<triangle> <steps>" to move the topmost stone on the specified triangle by the specified amount of moves
    * the game must print out the declared victor when the game ends
